.backlog-cont {
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  width: 100%;
}

.backlog-filters {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 20%;
}

.backlog-filters > * {
  width: 100%;
}

.backlog-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 75%;
}
