body {
  background-color: rgb(253, 251, 251);
  margin: 0;
}

#cabecalho , #rodape {
  position: fixed;
  text-align: center;
  width: 100%;
  background-color: navy;
  color: rgb(253, 251, 251);
}

#cabecalho { top: 0;}

#rodape { bottom: 0;}

#navlist {
  padding: 0;
}

#navlist li {
  display: inline-block;
  margin: 0 80px;
  padding: 10px;
  border-radius: 30px;
  background-color: rgb(253, 251, 251);
}

#navlist li a {
  color: navy;
  list-style: none;
  text-decoration: none;
}

#filler {
  height: 120px;
}

#fillerend {
  height: 50px;
}

main {
  margin: 25px 15px;
}

#minha_foto {
  width: 300px;
}
