body {
  background-color: rgb(253, 251, 251);
  margin: 0;
}

#cabecalho, #rodape {
  position: fixed;
  text-align: center;
  width: 100%;
  background-color: navy;
  color: white;
}

#cabecalho {top: 0;}
#rodape {bottom: 0;}

#filler {
  height: 80px;
}

#fillerend {
  height: 50px;
}

main {
  margin: 25px 15px;
}

#minha_foto {
  width: 300px;
}