.empty-message {
  color: grey;
  font-size: xx-large;
  margin-top: 200px;
  text-align: center;
}

.full-cart {
  gap: 20px;
  margin: 30px;
}

.full-cart h3 {
  font-size: 1.5rem;
}

.cart-item {
  border: 1px lightgray solid;
  border-radius: 5px;
  display: flex;
  margin-top: 10px;
  padding: 20px;
}

.trash-icon {
  background-color: white;
  border: 0;
  font-size: 1.2rem;
  width: 50px;
}

.trash-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.info-quant {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.img-container {
  display: flex;
  justify-content: center;
  width: 150px;
}

.prod-img {
  width: 120px;
}

.product-info {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

.product-name {
  font-weight: 500;
}

.quantities-board {
  align-items: center;
  border: 1px lightgray solid;
  display: flex;
  height: 50px;
  justify-content: space-between;
  width: 120px;
}

.quantity-icon {
  background-color: white;
  border: 0;
  font-size: 1rem;
  height: 100%;
  width: 40px;
}

.quantity-icon:hover {
  background-color: rgb(73, 71, 71);
  border: 0;
  color: white;
  cursor: pointer;
  height: 100%;
  width: 40px;
}

.quantity-text {
  align-items: center;
  border-left: 1px lightgray solid;
  border-right: 1px lightgray solid;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 39px;
}

.product-price {
  font-weight: 500;
}

.checkout-link-container {
  background-color: grey;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.checkout-link-container:hover {
  background-color: rgb(73, 71, 71);
  cursor: pointer;
}

.checkout-link {
  color: white;
  font-weight: 600;
  text-decoration: none;
}
