.page-profile-edit {
  align-items: center;
  display: flex;
  justify-content: center;
}

.profile-edit-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.profile-edit-card > * {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 10px 0;
}

.profile-edit-card input, .profile-edit-card textarea {
  border: 2px solid lightgrey;
  border-radius: 15px;
  font-size: 1.2rem;
  margin: 10px 0;
  padding: 10px 30px;
  width: 100%;
}

.profile-edit-card textarea {
  resize: vertical;
}

.profile-edit-card button {
  background-color: rgb(58, 209, 136);
  border-radius: 15px;
  color: black;
  font-size: 1.2rem;
  padding: 10px 30px;
  width: 100%;
}

.profile-edit-card button:disabled {
  filter: brightness(0.75) grayscale(0.75);
}
