.album-card {
  align-items: center;
  background-color: rgb(3, 107, 82);
  border: 2px solid black;
  border-radius: 20px;
  color: white;
  display: grid;
  flex-basis: 400px;
  flex-grow: 1;
  grid-auto-flow: column;
  grid-template-columns: 5fr max-content;
  grid-template-rows: repeat(3, max-content);
  margin: 10px;
  overflow: hidden;
}

.album-card > span, .album-card > .last-row {
  padding-left: 10px;
}

.album-card .image-cont {
  grid-column: 2;
  grid-row: 1 / span 3;
  margin-left: 15px;
  max-height: 100px;
  max-width: 100px;
  position: relative;
}

.album-card a {
  background-color: rgb(0, 0, 0, 0.5);
  border-bottom-left-radius: 10px;
  color: white;
  padding: 7px 5px 5px;
  position: absolute;
  right: 0;
}

.album-card .last-row {
  display: flex;
  justify-content: space-between;
}
