.album-card {
  align-items: center;
  display: flex;
  flex-basis: 300px;
  flex-grow: 1;
  margin: 10px;
}

.album-card img {
  max-height: 100px;
  max-width: 100px;
  width: 50%;
}

.album-data {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  margin-left: 10px;
}
