.loading {
  animation: loading-enter 0.25s;
  background-color: rgba(255, 255, 255, 0.75);
  bottom: 0;
  font-size: 2rem;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.25s;
  z-index: 1;
}

@keyframes loading-enter {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
