.loading {
  align-items: center;
  animation: loading-enter 0.25s;
  background-color: rgba(0, 0, 0, 0.75);
  bottom: 0;
  color: lightgray;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.25s;
  z-index: 1;
}

@keyframes loading-enter {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
