.card-album-img {
  width: 100%;
}

.music-name {
  margin: 0 10px;
}

.music-preview {
  justify-self: center;
  max-width: 400px;
  width: 100%;
}

.music-favorited {
  color: red;
  font-size: 1.3em;
  margin: 0 10px;
}

.music-favorited input {
  height: 0;
  opacity: 0;
  width: 0;
}

hr {
  border: none;
  border-bottom: 2px solid darkgrey;
  grid-column: 1 / -1;
  margin: 10px 0;
}
