@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

/******************* General ********************/
* {
  margin: 0;
  padding: 0;
  font-family: 'Inknut Antiqua', serif;
}

body {
  background-color: rgb(239, 239, 239);
  font-size: 1rem;
  margin-bottom: 85px;
}

h2 {
  font-size: 0.95rem;
}

label {
  font-size: 0.85rem;
}

h2 , #radio-family-style label {
  margin-top: 10px;
}

button , input , select , option , textarea {
  font-size: 0.8rem;
}

button {
  color: white;
  background-color: rgb(78, 44, 131);
  margin-right: 0;
  cursor: pointer;
}

hr {
  width: 100%;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

/*************** Header & Footer ****************/
header , footer {
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
}

header {
  justify-content: space-between;
  padding: 10px;
  height: 60px;
  margin-bottom: 30px;
  background-color: rgb(50, 167, 145);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  background-color: rgb(60, 64, 74);
}

.trybewarts-header-logo {
  height: 100%;
}

.trybewarts-login {
  display: flex;
  flex-direction: row;
}

.trybewarts-login * {
  padding: 15px;
  border-radius: 10px;
  border: none;
  width: 30%;
  margin-right: 5px;
}

/*************** 1st Form Section ***************/
.first-part-form {
  display: flex;
}

.first-part-form * {
  display: flex;
  flex-basis: 50%;
  align-items: center;
}

.first-part-form input , #house {
  box-sizing: border-box;
  padding: 15px;
  border: none;
  border-radius: 10px;
  margin: 2px;
  background-color: white;
}

#house {
  flex-grow: 1;
}

/*************** 2nd Form Section ***************/
.radio-and-checkbox {
  display: flex;
  justify-content: space-between;
}

.radio-and-checkbox > * {
  flex-basis: 50%;
}

.checkbox-itens {
  display: flex;
  flex-flow: row wrap;
}

.checkbox-itens > * {
  flex-basis: 33%;
}

.radio-family , #radio-family-style {
  display: flex;
  flex-direction: column;
}

/*************** 3rd Form Section ***************/
.rate-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rate-subcontainer {
  display: flex;
  flex-basis: 50%;
  justify-content: space-between;
}

.textarea-container {
  display: flex;
  flex-direction: column;
}

.textarea {
  font-weight: 700;
  font-size: 0.95rem;
  margin-top: 15px;
}

textarea {
  margin-top: 15px;
  height: 150px;
  padding: 15px;
  border-radius: 10px;
}

#submit-btn {
  padding: 15px;
  border-radius: 10px;
  border: none;
  width: 100%;
  margin-right: 5px;
}

#submit-btn[ disabled ] {
  background-color: silver;
  cursor: not-allowed;
}

/******************** Misc. *********************/
main {
  display: flex;
  justify-content: space-around;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

.result {
  font-size: 0.85rem;
  color: navy;
  font-weight: 700;
  margin: 20px 0;
}
